<a href="https://colab.research.google.com/github/220599/Data-Cleaning-Python/blob/main/Data_Cleaning_In_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('/content/Customer Call List.xlsx')

In [4]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [7]:
df = df.drop_duplicates()

In [8]:
df = df.drop(columns = 'Not_Useful_Column')

In [9]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [ ]:
#df["Last_Name"] = df["Last_Name"].str.lstrip("/")
#f["Last_Name"] = df["Last_Name"].str.lstrip("...")
#df["Last_Name"] = df["Last_Name"].str.rstrip("_")
#df["Last_Name"]
df["Last_Name"] = df["Last_Name"].str.strip("123./_")
df["Last_Name"]

0        Baggins
1          Nadir
2          White
3        Schrute
4           Snow
5        Swanson
6         Winger
7         Holmes
8            NaN
9         Parker
10        Gamgee
11        Potter
12        Draper
13         Knope
14    Flenderson
15       Weasley
16         Scott
17          Kent
18        Braton
19     Skywalker
Name: Last_Name, dtype: object

In [14]:
df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]','',regex=True)
df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df["Phone_Number"]= df["Phone_Number"].apply(lambda x: str(x))
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df["Phone_Number"] = df["Phone_Number"].str.replace("nan--",'',regex=True)
df["Phone_Number"] = df["Phone_Number"].str.replace("Na--",'',regex=True)
df["Phone_Number"] = df["Phone_Number"].str.replace("--",'',regex=True)
df["Phone_Number"]

0       123-545-54
1       123-643-97
2     706-695-0392
3       123-543-23
4       876-678-34
5       304-762-24
6
7       876-678-34
8
9       123-545-54
10
11    706-695-0392
12      123-543-23
13      876-678-34
14      304-762-24
15      123-545-54
16      123-643-97
17    706-695-0392
18
19      876-678-34
Name: Phone_Number, dtype: object

In [11]:
df[["Street Address", "State", "Zip_Code"]] = df["Address"].str.split(',',n=2, expand = True)
df = df.drop(columns = "Address")

In [12]:
df['Paying Customer'] = df['Paying Customer'].str.replace('No','N', regex=True)
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y', regex=True)
df['Do_Not_Contact'] = df['Paying Customer'].str.replace('No','N', regex=True)
df['Do_Not_Contact'] = df['Paying Customer'].str.replace('Yes','Y', regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street Address,State,Zip_Code
0,1001,Frodo,Baggins,12354-5-54,Y,Y,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-/64-3/97,N,N,93 West Main Street,None,None
2,1003,Walter,/White,706-695-0392,N,N,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,12354-3-23,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-|67-8|34,Y,Y,123 Dragons Road,None,None
5,1006,Ron,Swanson,30476-2-24,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-|67-8|34,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,N/a,Y,Y,123 Middle Earth,None,None
9,1010,Peter,Parker,12354-5-54,Y,Y,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,Y,Y,612 Shire Lane,Shire,None
11,1012,Harry,...Potter,706-695-0392,Y,Y,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,12354-3-23,Y,Y,2039 Main Street,None,None
13,1014,Leslie,Knope,876-|67-8|34,Y,Y,343 City Parkway,None,None
14,1015,Toby,Flenderson_,30476-2-24,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,12354-5-54,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-/64-3/97,Y,Y,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706-695-0392,Y,Y,3498 Super Lane,None,None
18,1019,Creed,Braton,N/a,N/a,N/a,N/a,None,None
19,1020,Anakin,Skywalker,876-|67-8|34,Y,Y,910 Tatooine Road,Tatooine,None